.App {
  text-align: center;
  font-style: Sans-Serif;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.survey-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px;
}

.survey-item-wrapper {
  display: grid;
  margin-top: 5px;
  gap: 15px;
  grid-auto-flow: row;
  justify-content: center;
}

.list {
  /* order: 1; */
  background-color:rgb(255, 253, 146);
  box-shadow: rgb(126, 124, 122);
  height: 16rem;
  width: 17rem;
  border-radius: 8px;
  padding-top: 5px;
  font-size: 1.2rem;
  margin: auto;
}

/*LIST ITEMS*/
.list-item {
  color:rgb(0, 0, 0);
  text-decoration:black;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: cursive;
}
.list-item:hover {
  background-color:rgb(254, 255, 169);
  font-weight: bold;
}
.list-added {
  color:rgb(0, 0, 0);
  text-decoration: line-through;
  border: transparent;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: cursive;
  margin: 0;
}
.list-disabled {
  color:rgb(0, 0, 0);
  text-decoration:black;
  border: transparent;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: cursive;
  margin: 0;
}

.text {
  /* order: 2; */
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  margin: auto;  /* right: 10%; */
  max-width: 500px;
}

.statement {
  font-size: 1.2rem;
}

.img {
  display: block;
  margin: auto;
  max-height: 250px;
}

/* SPEAK BUTTON */
.speak {
  padding: 5px 15px;
  background: rgb(8, 64, 117);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

/*Response BUTTON*/
.response {
  padding: 5px 15px;
  background: rgb(216, 216, 216);
  cursor: pointer;
  border-radius: 5px;
  color: black;
  font-size: 20px;
}
.response:hover {
  background:rgb(184, 184, 184);
}

/*PURCHASE BUTTON*/
.purchase {
  padding: 5px 15px;
  background: rgb(40, 212, 24);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

/*PHONE*/
.phone {
  width: 107px;
  height: 160px;
  border-radius: 17px;
  transform: skew(-20deg);
  background: rgb(51, 51, 51);
  bottom: 30px;
  right: 17%;
  position: absolute;
  content: "O";
  color:rgb(130, 130, 131)
}
.phone:before {
  width: 98px;
  height: 150px;
  border-radius: 10px;
  background: black;
  bottom: 10px;
  right: 8%;
  position: absolute;
  content: "---";
  color:rgb(189, 189, 189);
}
.phone:after {
  width: 90px;
  height: 110px;
  /* transform: skew(-20deg); */
  background: rgb(248, 248, 248);
  bottom: 30px;
  right: 13%;
  position: absolute;
  content: "Check Cart";
  color:rgb(30, 32, 27)
} 
.phone:hover {
  background:turquoise;
}

/*PHONE OFF*/
.phone-off {
  width: 107px;
  height: 160px;
  border-radius: 17px;
  transform: skew(-20deg);
  background: rgb(51, 51, 51);
  bottom: 30px;
  right: 17%;
  position: absolute;
  content: "O";
  color:rgb(130, 130, 131)
}
.phone-off:before {
  width: 98px;
  height: 150px;
  border-radius: 10px;
  background: black;
  bottom: 10px;
  right: 8%;
  position: absolute;
  content: "---";
  color:rgb(189, 189, 189);
}
.phone-off:after {
  width: 90px;
  height: 110px;
  /* transform: skew(-20deg); */
  background: rgb(248, 248, 248);
  bottom: 30px;
  right: 13%;
  position: absolute;
  content: "Check Cart";
  color:rgb(30, 32, 27)
} 

h4 {
  margin-top: 0;
  font-weight: 450;
  font-size: 1.3rem;
}

/*NEXT BTN*/
.nextBtn {
  width: 90px;
  position: fixed;
  bottom: 100px;
  right: 100px;
}

/* AGENT */
.agent {
  background: rgb(85, 85, 85);
  width: 200px;
  height: 120px;
  border-radius: 100% / 30%;
  position: relative;
  margin: auto;
}
.agent:before {
  content:"";
  position: absolute;
  background: rgb(46, 46, 46);
  border: 0 solid transparent;
  border-radius: 100%;
  z-index: 1;
  width: 200px;
  height: 30px;
  left: 0;
}

/* MEGA */
.cylinder {
  background: rgb(130, 130, 131);
  width: 100px;
  height: 150px;
  border-radius: 100% / 30%;
  position: relative;
  margin: auto;
}
.cylinder:before {
  content:"";
  position: absolute;
  background: rgb(212, 207, 207);
  border: 0 solid transparent;
  border-radius: 100%;
  z-index: 1;
  width: 100px;
  height: 30px;
  left: 0;
}

.mega-speech{
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  max-width: 800px;
  margin: auto;
}

/*GEMA*/
.gema {
  background: rgb(34, 34, 34);
  width: 200px;
  height: 100px;
  border-radius: 100% / 30%;
  position: relative;
  margin: auto;
}
.gema:before {
  content:"";
  position: absolute;
  background: rgb(92, 92, 92);
  border: 0 solid transparent;
  border-radius: 100%;
  z-index: 1;
  width: 200px;
  height: 30px;
  left: 0;
}

@keyframes speaking {
  20% {
    border-color: blue;
  }
}

/*BTN IN CART*/
.inCart{
  color:rgb(0, 139, 182);
  text-decoration: underline;
  border: transparent;
  background-color: white;
  cursor: pointer;
}

/* DEVICE */
.device {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 2; 
  padding-top: 90px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
.device-content {
  position: relative;
  background-color: white;
  margin: auto;
  border: 13px solid black;
  border-radius: 20px;
  width: 310px;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}
.device-screen {
  overflow-y: auto; 
  height: 85%;
}
.device-header {
  padding: 2px 16px;
  top: 0;
  width: 290px;
  height: 7.5%;
  background-color: #000000;
  color: white;
}
.device-footer{
  padding: 2px 16px;
  height: 7.5%;
  width: 290px;
  background-color: #000000;
  color: white;
  content:"";
}
.device-body {padding: 2px 16px;}

/*HELP*/
.help-btn {
  position: fixed;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 700;
  top: 20px;
  right: 20px;
  border: 8px solid black;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 10; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 10; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* CLOSE BTN */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
