.App {
  text-align: center;
  font-style: Sans-Serif;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: black;
}

list {
  background-color: bisque;
  border-radius: 5px;
  box-shadow: burlywood;
  margin: auto;
  max-width: 30%;
  aspect-ratio: 1;
}

row {
  display: flex;
  flex-direction: row;
  max-height: 50%;
  margin: auto; 
  /* margin-top: 100px; */

}
.item {
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}
.text {
  margin: auto;
}
.first { 
  order: 1;
  flex: 1;
}
.next {
  order: 2;
  flex: 2;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
}


/* SPEAK BUTTON */
.speak {
  padding: 5px 15px;
  background: rgb(8, 64, 117);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}


/* ITEM COUNTER*/
.counter {
  background-color: red;
  color: white;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: 100px;
  padding: 2px;
}


/* MEGA */
.cylinder {
  background: rgb(130, 130, 131);
  width: 200px;
  height: 100px;
  border-radius: 100% / 30%;
  position: relative;
  margin: auto;
}
.cylinder:before {
  content:"";
  position: absolute;
  background: rgb(212, 207, 207);
  border: 0 solid transparent;
  border-radius: 100%;
  z-index: 1;
  width: 200px;
  height: 30px;
  left: 0;
}


/* DEVICE */
.device {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.device-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 10px solid black;
  border-radius: 20px;
  width: 25%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.device-header {
  padding: 2px 16px;
  top: 0;
  height: 30px;
  background-color: #000000;
  color: white;
}

.device-body {padding: 2px 16px;}


/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
